[submodule ".vim/bundle/molokai"]
	path = .vim/bundle/molokai
	url = https://github.com/tomasr/molokai.git
[submodule ".vim/bundle/rust.vim"]
	path = .vim/bundle/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/bundle/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule ".vim/bundle/vim-characterize"]
	path = .vim/bundle/vim-characterize
	url = git://github.com/tpope/vim-characterize.git
[submodule ".vim/bundle/vim-gnupg"]
	path = .vim/bundle/vim-gnupg
	url = https://github.com/jamessan/vim-gnupg.git
[submodule ".vim/bundle/vim-sensible"]
	path = .vim/bundle/vim-sensible
	url = git://github.com/tpope/vim-sensible.git
