[submodule ".vim/bundle/molokai"]
	path = .vim/pack/plugins/start/molokai
	url = https://github.com/tomasr/molokai.git
[submodule ".vim/bundle/rust.vim"]
	path = .vim/pack/plugins/start/rust.vim
	url = https://github.com/rust-lang/rust.vim.git
[submodule ".vim/bundle/syntastic"]
	path = .vim/pack/plugins/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule ".vim/bundle/vim-characterize"]
	path = .vim/pack/plugins/start/vim-characterize
	url = https://github.com/tpope/vim-characterize.git
[submodule ".vim/bundle/vim-gnupg"]
	path = .vim/pack/plugins/start/vim-gnupg
	url = https://github.com/jamessan/vim-gnupg.git
[submodule ".vim/bundle/vim-sensible"]
	path = .vim/pack/plugins/start/vim-sensible
	url = https://github.com/tpope/vim-sensible.git
[submodule ".vim/pack/plugins/start/YouCompleteMe"]
	path = .vim/pack/plugins/start/YouCompleteMe
	url = https://github.com/ycm-core/YouCompleteMe.git
